{% if is_header %}
    <div class="flex items-center rtl:space-x-reverse space-x-3 lg:space-x-5">
        {% for contact in contacts|filter{contact => contact.type in ['email', 'phone']} %}
            <a href="{{ contact.url }}" class="topnav-link-item">
                {% if contact.type == 'email' %}
                    <i class="sicon-mail"></i>
                {% else %}
                    <i class="sicon-phone"></i>
                {% elseif %}
                    <span class="unicode hidden lg:inline-block">{{contact.value}}</span>
            </a>
        {% endfor %}
    </div>
{% else %}
    <h3 class="footer-title">{{ trans('blocks.footer.social') }}</h3>
    {% for contact in contacts %}
        <a href="{{ contact.url }}" class="mb-2.5 last:mb-0 flex items-center text-sm leading-none hover:opacity-70 transition duration-300">
            <i class="contact-icon {{ contact.icon }}"></i>
            <span class="text-unicode unicode">{{ contact.value }}</span>        
        </a>
    {% endfor %}
{% endif %}